body{
text-align: center;
color: white;
background-color: #282A35;
height: 70vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 50px;
border: solid ;
border-radius: 10px ;


}
h1{
font-size: 400%;
border-style:solid;
border-color: red;
border-right: blue;
border-left: blue;
border-top: blue;
}
.container {
 
}





